html,body {height: 100%;}
.carousel,.item,.active {height: 40em;}
.carousel-inner {height: 100%;}
.fill {
    background-position: 87%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    margin-top: 6em;
}